*{
	font-size:	15px;
	font-family:	"微软雅黑" !important;
}
::-webkit-scrollbar {
	width:	10px;
	background-color:	#FFF;
}
::-webkit-scrollbar-thumb {
	background-color:	#CCC;
	border-radius:	5px;
}
::-webkit-scrollbar-thumb:hover {
	background-color:	#999;
}
::-webkit-scrollbar-button {
	display:	none;
}
a:hover, span:hover, input:hover, textarea:hover, .button:hover {
	transition:	linear 0.2s;
	-moz-transition:	linear 0.2s;
	-webkit-transition:	linear 0.2s;
	-o-transition:	linear 0.2s;
}
a {
	text-decoration:	none;
}
a:hover {
	text-decoration:	underline;
}
img {
	border:	none;
	margin-right:	2px;
}
select {
	border:	1px solid rgb(204, 204, 204);
	font-size:	15px;
	outline:	none;
}
.text {
	color:	black;
	width:	200px;
	padding:	4px;
	margin-top:	2px;
	margin-bottom:	2px;
	border:	1px solid #CCC;
	background-color:	#FFF;
}
.text:hover {
	border:	1px solid #999;
}
.text:focus {
	outline:	none;
	border:	1px solid #1AD;
}
.button {
	color:	#FFF;
	border:	none;
	cursor:	pointer;
	margin:	20px 2px;
	outline:	none;
	line-height:	28px;
	padding:	2px 20px;
	text-shadow:	rgba(0, 0, 0, 0.247059) 0px -1px 0px;
}
.titlespan {
	display:	block;
	line-height:	48px;
	margin-bottom:	15px;
}
.commit {
	color:	#8089A0;
	display:	inline-block;
	font-size:	14px;
	margin-left:	10px;
	font-weight:	normal;
}
.dep1 {
	color:	#2679B5;
	font-size:	24px;
	padding-left:	10px;
	border-bottom:	1px dotted #E2E2E2;
}
.dep2 {
	color:	#A069C3;
	font-size:	21px;
	border-bottom:	1px solid #E0D1EA;
}
.boxdiv {}
.fixed {
	width:	100px;
	display:	inline-block;
	margin-left:	20px;
	margin-right:	40px;
	line-height:	32px;
}
.psubmit {
	text-align:	right;
	margin-bottom:	0px;
	border-top:	1px dotted #999;
}
.ensuredel .psubmit {
	padding-right:	20px;
}
.return {
	margin-top:	10px;
	margin-bottom:	10px;
	line-height:	32px;
	padding-left:	10px;
}
.success {
	border:	1px solid #A2D246;
	background-color:	#EBF8A4;
}
.warning {
	border:	1px solid #BB0;
	background-color:	#FF9;
}
.error {
	border:	1px solid maroon;
	background-color:	pink;
}
.link {
	color:	#235A81;
	text-shadow:	0px 1px 0px #FFF;
}
input[type=checkbox], input[type=radio] {
	width:	16px;
	height:	16px;
	outline:	none;
	margin-top:	0px;
	margin-bottom:	3px;
	vertical-align:	middle;
}
input[type=button] {
	background-color:	#6FB3E0;
}
input[type=button]:hover {
	background-color:	#4F93B0;
}
input[type=button]:active {
	background-color:	#2F7390;
}
input[type=submit] {
	background-color:	#87B87F;
}
input[type=submit]:hover {
	background-color:	#67985F;
}
input[type=submit]:active {
	background-color:	#47783F;
}
input[type=reset] {
	background-color:	#428BCA;
}
input[type=reset]:hover {
	background-color:	#226BAA;
}
input[type=reset]:active {
	background-color:	#024B8A;
}
.dangerousbutton {
	background-color:	#D15B47 !important;
}
.dangerousbutton:hover {
	background-color:	#B13B27 !important;
}
.dangerousbutton:active {
	background-color:	#911B07 !important;
}
form .fixed {
	line-height:	34px;
}
