*{
	font-family:	"微软雅黑" !important;
}
a {
	text-decoration:	none;
}
a:hover {
	text-decoration:	underline;
}
.titlespan {
	top:	-10px;
	left:	40px;
	border:	1px solid #AAA;
	padding:	2px 8px;
	position:	relative;
	font-weight:	bold;
	background-color:	white;
	-webkit-border-radius:	8px;
	-moz-border-radius:	8px;
	border-radius:	8px;
	-webkit-box-shadow:	#BBB 0px 0px 10px;
	-moz-box-shadow:	#BBB 0px 0px 10px;
	box-shadow:	#BBB 0px 0px 10px;
}
.boxdiv {
	color:	#333;
	border:	1px solid #AAA;
	margin-top:	30px;
	background-color:	#EEE;
	-webkit-box-shadow:	#BBB 0px 0px 10px;
	-moz-box-shadow:	#BBB 0px 0px 10px;
	box-shadow:	#BBB 0px 0px 10px;
}
.fixed {
	width:	100px;
	display:	inline-block;
	margin-left:	20px;
	margin-right:	40px;
	line-height:	32px;
}
.button {
	width:	80px;
	margin:	20px auto;
}
.psubmit {
	background-color:	#CCE;
	text-align:	right;
	padding-right:	40px;
	margin-bottom:	0px;
	border-top:	1px solid #999;
}
.returnsuccess {
	border:	1px solid #A2D246;
	margin-top:	10px;
	line-height:	32px;
	padding-left:	10px;
	background-color:	#EBF8A4;
}
.returnerror {
	border:	1px solid maroon;
	margin-top:	10px;
	line-height:	32px;
	padding-left:	10px;
	background-color:	pink;
}
.link {
	color:	#235A81;
	text-shadow:	0px 1px 0px #FFF;
}
.text {
	width:	150px;
	color:	black;
}
