#whole {
	top:	0px;
	left:	0px;
	width:	100%;
	height:	100%;
	margin:	0px auto;
	overflow:	auto;
	position:	fixed;
}
#logo {
	width:	100%;
	height:	82px;
	font-size:	48px;
	text-align:	center;
	padding-top:	18px;
}
#left {
	width:	256px;
	height:	100%;
	float:	left;
	overflow:	auto;
	display:	inline-block;
	border-right:	1px solid white;
	background-color:	#F3F3F3;
}
#leftcheck {
	background-color:	#DDD;
}
#right {
	width:	auto;
	height:	100%;
	color:	black;
	overflow:	auto;
	margin-left:	258px;
	border-left:	1px solid #666;
	background-color:	white;
}
#pager {
	line-height:	42px;
	font-size:	16px;
	margin:	0px auto;
}
.pagerbutton {
	color:	black;
	display:	block;
	padding-left:	25px;
}
.pagerbutton a {
	color:	black;
}
.pagerbutton:hover {
	background-color:	#DDD;
}
#banner {
	height:	32px;
	color:	white;
	background-color:	#888;
	line-height:	32px;
	padding-left:	10px;
	/*text-shadow:	0px 1px 0px #000;*/
	border-left:	1px solid white;
	border-bottom:	1px solid white;
}
#banner a {
	color:	white;
}
#content {
	border-top:	1px solid #666;
	background-color:	white;
	padding:	10px 25px;
}
.table {
	border:	1px solid rgb(204, 204, 204);
	margin:	10px 20px;
	/*text-shadow:	0px 1px 0px #FFF;*/
}
.trtitle {
	text-align:	center;
	font-weight:	bold;
	line-height:	24px;
	border-bottom:	1px solid #999;
	background-color:	#DDD;
}
td {
	padding-left:	5px;
	padding-right:	5px;
}
.tr0 {
	border-bottom:	1px solid #999;
	background-color:	#FFF;
}
.tr1 {
	border-bottom:	1px solid #999;
	background-color:	#EEE;
}
